{% extends 'base.html' %}

{% block content %}



    <h1> Interpol Red Notice List </h1>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for notice in notices %}
                    <div class="col">
                        <div class="card shadow-sm {% if notice.created == False %}border border-danger{% endif %}">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Id:</strong> {{ notice.entity_id }}<br>
                                    <strong>Forename:</strong> {{ notice.forename }}<br>
                                    <strong>Name:</strong> {{ notice.name }}<br>
                                    <strong>Date of Birth:</strong> {{ notice.date_of_birth }}<br>
                                    <strong>Nationalities:</strong> {{ notice.nationalities|join:", " }}<br>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'interpolApp:notice_detail' notice.entity_id %}" class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="{{ notice.self_url }}" class="btn btn-sm btn-outline-secondary">View API</a>
                                    </div>
                                    <small class="text-body-secondary">Last Updated: {{ notice.updated_at }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <p class="card-text">No notices available yet. Try running consume.py</p>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
        </div>
    </div>
    
    
    
    
    
 


{% endblock content %}